<template>
  <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Update Category 
                        <router-link class="btn btn-primary" :to="{name:'category'}">Back</router-link>
                    </div>

                    <div class="card-body ">
                       <form @submit.prevent="createCategory">
                           <div class="form-group">
                                <label>Category Name </label>
                              <input v-model="form.name" type="text" name="name" placeholder="name">
                             <div class="text-danger margin" v-if="form.errors.has('name')" v-html="form.errors.get('name')" />
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                       </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import  Form from 'vform'

// import 'cxlt-vue2-toastr/dist/css/cxlt-vue2-toastr.css'


export default {
    mounted() {
            console.log('Component mounted.')
            
        },

    data(){
        return{
            form: new Form({
                name: '',

            })
        };
    },
    methods: {
         createCategory(){

            this.form.post('/api/category').then(({ data }) => { 
                this.form.name = '';
                this.$toaster.success('Successfully Created a Category!!')
             })
        },
    }
}
</script>

<style>
    
</style>