<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Category List
                        <router-link class="btn btn-primary align-item-center" :to="{name: 'categorycreate'}">Create category</router-link>
                    </div>

                    <div class="card-body ">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Slug</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                                <tr v-for="category in categories" :key="category.id">
                                    <td>{{category.id}}</td>
                                    <td>{{category.name}}</td>
                                    <td>{{category.slug}}</td>
                                    <td>
                                        <router-link href="" class="btn btn-primary" :to="{name:'categoryEdit', params: { slug: category.slug}}">Edit</router-link> / 
                                        <button class="btn btn-danger" @click="categoryDelete(category.id)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                categories:[],
            }
        },
        methods:{
            categoriesList(){
                axios.get('/api/category').then(response => {
                    this.categories = response.data;
                });
            },

             categoryDelete(id){
            if(confirm("Are you sure to delete this category ?")){
                axios.delete(`api/category/${id}`).then(response=>{
                    this.categoriesList();
                    this.$toaster.success('Successfully deleted a category')
                }).catch(error=>{
                    console.log(error)
                })
            }
        }
        },
        mounted() {
            this.categoriesList();
        }
    }
</script>